[submodule "08-todo-app"]
	path = 08-todo-app
	url = git@github.com:imbekrishna/fem-todo-app.git
[submodule "10-rest-countries-api"]
	path = 10-rest-countries-api
	url = git@github.com:imbekrishna/rest-countries.git
[submodule "07-age-calculator-app"]
	path = 07-age-calculator-app
	url = git@github.com:imbekrishna/age-calculator.git
[submodule "11-ip-address-tracker"]
	path = 11-ip-address-tracker
	url = git@github.com:imbekrishna/ip-address-tracker.git
